::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.5);
}

::-webkit-scrollbar-thumb {
    color: rgba(228, 98, 232, 0.8);
}

body {
    background-color:  #F5F5F5;
    font-family: 'Cabin', sans-serif;
}

a {
    color: rgba(228,98,232,0.8);
    text-decoration: none;
}

a:hover {
    color: rgba(173,51,177,0.8);
    text-decoration: none;
}

input {
    width: 100%;
    margin: 0px 0px;
}

.alert {
    margin: 0px;
    margin-top: 15px;
}

.hidden {
    display: none;
}

#link-to-main {
}

#alert-login-error, #alert-login-logout {
    margin-bottom: 15px;
}

#logo-container {
    height: 40%;
}

.box-main {
    padding: 20px 40px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(80, 80, 80, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(80, 80, 80, 0.3);
    box-shadow: 0px 2px 2px rgba(80, 80, 80, 0.3);
}

.box-container {
    top: 35%;
    height: 100%;
}

.box-top {
    margin-top: 3%;
}

.box-bottom {
    top: 45%;
    padding-top: 25px;
}

.btn-primary {
    background-color: rgba(228,98,232,0.8);
    border: none;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:visited {
    background-color: rgba(173,51,177,0.8);
    border: none;
}

.form-group{
    margin-bottom: 15px;
}

.glyphicon {
    vertical-align: middle;
}

.main {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

#image {
    margin-left: 30%;
}