a {
    color: #9d9d9d;
    text-decoration: none;
}

hr {
    color: #9d9d9d;
    size: 3px;
}

a:hover {
    color: rgba(173, 51, 177, 0.8);
    text-decoration: none;
}

a:focus {
    color: rgba(228, 98, 232, 0.8);
}

body {
    padding-top: 50px;
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.5);
}

::-webkit-scrollbar-thumb {
    color: rgba(228, 98, 232, 0.8);
}

textarea {
    resize: none;
}

#id-top {
    text-align: center;
    color: #9d9d9d;
}

#counter-line {
    margin-bottom: 10px;
    margin-top: 10px;
}

#counter {
    text-align: right;
    color: #9d9d9d;
}

#create-post-box {
    text-align: center;
}

#post-text {
    margin-top: 20px;
}

#update-profile-info, #update-profile-photo-info {
    color: #9d9d9d;
}

#profile-info {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

#no-more-posts {
    text-align: center;
    color: #9d9d9d;
}

#message-href {
    padding-right: 15px;
}

#calendar-href {
    padding-left: 15px;
}

.affix {
    top: 70px;
}

.box-main {
    padding: 20px 40px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(80, 80, 80, 0.3);
    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    margin-bottom: 15px;
}

.box-navigation {
    padding: 20px 20px;
}

.hidden {
    display: none;
}

.info-text {
    color: #9d9d9d;
    text-align: left;
}

.nav-top {
    background-color: #ffffff;
    border-bottom-color: rgba(80, 80, 80, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: rgba(228, 98, 232, 0.8);
}

.navbar-inverse .navbar-nav > li > a:active {
    color: rgba(173, 51, 177, 0.8);
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.profile-userpic {
    float: none;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-userpic-small {
    float: none;
    width: 45px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-left {
    text-align: center;
    color: #9d9d9d;
}

.profile-usertitle-right {
    text-align: center;
    color: #9d9d9d;
}

.profile-usertitle-name {
    color: rgba(228, 98, 232, 0.8);;
    font-size: 16px;
    margin-bottom: 7px;
}

.profile-usertitle-info {
    color: #9d9d9d;
    margin-bottom: 7px;
}

.btn-primary {
    background-color: rgba(228, 98, 232, 0.8);
    border: none;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:visited {
    background-color: rgba(173, 51, 177, 0.8);
    border: none;
}

.sidebar {
    display: none;
    background-color: #f5f5f5;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 0 solid #eee;
    }
}

.sidebar-right {
    display: none;
    background-color: #f5f5f5;
}

@media (min-width: 768px) {
    .sidebar-right {
        position: fixed;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-left: 0 solid #eee;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.file-input-label {
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

#create-post-button {
    margin-top: 10px;
}

.centered-and-cropped {
    object-fit: cover;
}

.post {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    margin-bottom: 10px;
}

.post-body {
    border-bottom: 1px solid #ddd;
}

.post-header {
    padding-bottom: 10px;
}

.post-body-text-div {
    text-align: left;
    color: #9d9d9d;
}

.like-quantity-div {
    margin-top: 10px;
    text-align: left;
    color: #9d9d9d;
}

.comment-quantity-div {
    margin-top: 10px;
    text-align: right;
    color: #9d9d9d;
}

.post-body-text {
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #5e5e5e;
}

.post-body-date {
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #9d9d9d;
    font-size: 10px;
}

.post-userpic {
    float: none;
    width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.like-button-div {
    margin-top: 10px;
}

.profile-usertitle-name-small {
    color: rgba(228, 98, 232, 0.8);
    font-size: 16px;
    margin-top: 10px;
}

.profile-usertitle-name {
    color: rgba(228, 98, 232, 0.8);
    font-size: 16px;
}

.delete-button-div {
    margin-top: 15px;
}

.like-button-div {
    text-align: left;
}

a.like-button {
    color: #9d9d9d;
}

a.like-button:hover {
    color: rgba(228, 98, 232, 0.8);
}

a.unlike-button {
    color: rgba(228, 98, 232, 0.8);
}

a.unlike-button:hover {
    color: rgba(228, 98, 232, 0.8);
}

.like-quantity-div {
    color: #9d9d9d;
}

.likes-number {
    color: #9d9d9d;
}

#no-more-comments {
    text-align: center;
    color: #9d9d9d;
}

.create-comment-button {
    margin-top: 10px;
}

.comment-container {
    padding-right: 30px;
    padding-left: 30px;
}

.post-comment-text {
    margin-top: 15px;
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #5e5e5e;
    font-size: 12px;
}

.load-more {
    text-align: center;
}

#no-more-users {
    text-align: center;
    color: #9d9d9d;
}

.header {
    color: rgba(228, 98, 232, 0.8);
    text-align: left;
}

#header {
    color: rgba(228, 98, 232, 0.8);
    text-align: left;
}

.pink {
    color: rgba(228, 98, 232, 0.8);
}

.profile-usertitle-name-small-dialog {
    color: rgba(228, 98, 232, 0.8);
    font-size: 16px;
    margin-top: 0px;
}

.post-body-date-dialog {
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #9d9d9d;
    font-size: 10px;
    margin-bottom: 0px;
}

.dialogs:hover {
    color: rgba(228, 98, 232, 0.5);
    cursor: pointer;
}

#dialog-container {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden
}

#message-form-div {
    background-color: #f5f5f5;;
}

.unread-message {
    background-color: rgba(228, 98, 232, 0.2);
}

#main {
    margin-top: 20px;
}

.page-header-title {
    margin-top: 20px;
}

.nav-tabs.nav-justified>li>a {
    background-color: #f5f5f5;
}

.nav-tabs.nav-justified>li.active>a {
    color: rgba(228, 98, 232, 0.8);
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.nav-tabs.nav-justified>li.hover>a {
    color: rgba(228, 98, 232, 0.8);
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #f5f5f5;
}

#counter-title-line {
    margin-bottom: 10px;
    margin-top: 10px;
}

#title-counter {
    text-align: right;
    color: #9d9d9d;
}

#create-event-button {
    margin-top: 20px;
}

#create-event-box {
    margin-top: 20px;
    text-align: center;
}

.event {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.3);
    margin-bottom: 10px;
}

.no-more-events {
    text-align: center;
    color: #9d9d9d;
}

#map {
    height: 300px;
    margin-top: 20px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(228, 98, 232, 0.3);
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.controls:focus {
    border-color: rgba(228, 98, 232, 0.8);;
}

.header-date {
    color: rgba(228, 98, 232, 0.5);
    text-align: left;
    word-wrap: break-word;
    color: #9d9d9d;
}

.event-body-text-div {
    text-align: left;
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #5e5e5e;
    padding-left: 30px;
    padding-top: 10px;
}

.header-date {
    display: block;
    width: 100%;
    word-wrap: break-word;
    color: #9d9d9d;
    font-size: 10px;
}

.user-char {
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
}