<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${user.login}">SoCal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/settings.css" th:href="@{css/settings.css}">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/settings.js" th:src="@{js/settings.js}"></script>
</head>
<body>
<!--TOP NAVBAR: LOGO + NAVIGATION.-->
<nav class="navbar navbar-inverse navbar-fixed-top nav-top">
    <div class="container-fluid">
        <div class="navbar-header col-md-offset-1">
            <img src="images/logo-navbar.png" class="navbar-brand" th:src="@{images/logo-navbar.png}">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/search"><span class="glyphicon glyphicon-search"></span></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!--PAGE-->
<div class="container">
    <div class="row">
        <!--LEFT SIDEBAR: MENU.-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/"><span class="glyphicon glyphicon-user"></span> My page</a></li>
                <li><a href="/dialogs"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                <li><a href="/calendar"><span class="glyphicon glyphicon-th-large glyphicon"></span> Calendar</a></li>
                <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
            </ul>
        </div>
        <!--CENTER: SETTINGS.-->
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-md-offset-2 main">
            <div id="settings-block">
                <div id="update-profile-info"><h5>UPDATE PROFILE INFORMATION.</h5></div>
                <hr class="settings-hr">
                <!--INPUT FORMS.-->
                <div id="input-forms">
                    <form class="form-horizontal" method="POST" action="/update">
                        <!--EMAIL-->
                        <div class="form-group">
                            <div class="info-text col-sm-6">
                                <p>Email:</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" maxlength="35" id="email-input" class="form-control" name="email"
                                       th:value="${user.email}" autocomplete="off">
                                <div id="alert-email-too-short" class="alert alert-danger hidden" role="alert">
                                    <p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Email needs
                                        to be
                                        at least 5 symbols long.</p>
                                </div>
                                <div id="alert-email-is-valid" class="alert alert-success hidden" role="alert">
                                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Email is valid.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--PHONE-->
                        <div class="form-group">
                            <div class="info-text col-sm-6">
                                <p>Phone:</p>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" maxlength="18" id="phone-input" class="form-control" name="phone"
                                       th:value="${user.phone}" autocomplete="off">
                                <div id="alert-phone-too-short" class="alert alert-danger hidden" role="alert">
                                    <p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Phone number
                                        needs to be at least 8 symbols long.</p>
                                </div>
                                <div id="alert-phone-is-valid" class="alert alert-success hidden" role="alert">
                                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Phone number is
                                        valid.</p>
                                </div>
                            </div>
                        </div>
                        <!--INFO-->
                        <div class="form-group">
                            <div class="info-text col-sm-6">
                                <p>Tell something about yourself:</p>
                            </div>
                            <div class="col-sm-6">
                                <p id="usinfo" class="hidden" th:text="${user.info}"></p>
                                <textarea class="form-control" maxlength="200" rows="5" id="info"
                                          name="info"></textarea>
                                <div id="counter">
                                    <p id="counter-line"><span id="characters-number">200</span> symbols left.</p>
                                </div>
                            </div>
                        </div>
                        <!--SUBMIT BUTTON-->
                        <div class="form-group">
                            <div class="info-text col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" id="update" class="btn btn-primary btn-md btn-block">Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="update-profile-photo-info"><h5>UPDATE PROFILE PHOTO.</h5></div>
                <hr class="settings-hr">
                <form enctype="multipart/form-data" class="form-horizontal" method="POST" action="/upload">
                    <div class="form-group">
                        <div class="info-text col-sm-6">
                            <p>Choose photo:</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary"><span class="glyphicon glyphicon-picture"></span><input type="file" style="display: none;" accept="image/x-png,image/gif,image/jpeg" name="photo"></span>
                                </label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                        </div>
                    <div class="form-group">
                        <div class="info-text col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" id="upload" class="btn btn-primary btn-md btn-block">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--RIGHT SIDEBAR: ACCOUNT INFO.-->
        <div class="col-sm-3 col-md-2 sidebar-right">
            <div class="user-block">
                <div class="profile-sidebar box-main">
                    <div th:if="${user.profileImage} != null">
                        <div>
                            <img class="profile-userpic centered-and-cropped" th:src="@{'/profile-image/' + ${user.profileImage.id}}">
                        </div>
                    </div>
                    <div th:if="${user.profileImage} == null">
                        <div>
                            <img class="profile-userpic centered-and-cropped" src="images/default-user-image.png"
                                 th:src="@{images/default-user-image.png}">
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            <p th:text="${user.login}">just a user</p>
                            <p id="id-top">(#<span id="ids" th:text="${user.id}"></span>)</p>
                        </div>
                        <div class="profile-usertitle-info">
                            <p><span id="profile-info" th:text="${user.info}"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 profile-usertitle-left">
                            <a th:href="@{'/followers/' + ${user.id}}"><p>Followers:</p>
                                <p id="followers" th:text="${followers}"></p></a>
                        </div>
                        <div class="col-sm-6 profile-usertitle-right">
                            <a th:href="@{'/following/' + ${user.id}}"><p>Following:</p>
                                <p id="following" th:text="${following}">0</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>